# Maven
/LRC-Trainer/target/**
/SKS-Trainer/target/**
/SRC-Trainer/target/**
/UBI-Trainer/target/**

# Vim
*~
.*.swp

# different backup extensions
*.bak
*.orig


private.properties
release.keystore
/SBFB-Trainer/build/**
/SBFB-Trainer/.gradle/**
/SBFS-Trainer/build/**
/SBFS-Trainer/.gradle/**
